* {
  //border: solid 1px red;
}

.section-hero {
  box-sizing: content-box;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 720px;
  margin: auto;
  flex-direction: column;

  * {
    margin: 2rem auto;
  }
}

.title {
  width: 80%;
  text-align: center;
  display: block;
  font-size: 7.2rem;
}

.subtitle {
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.5;
}

.byline {
  padding: 0.9rem;
  font-family: 'Theinhardt-Med';
  font-size: 1.9rem;
  background-color: $accent2;
  color: $textColor;
  padding: 0.7rem 0.7rem 0.2rem;

  a {
    color: $textColor;

    &:hover {
      // color: darken($textColor, 80%);
    }
  }
}

@include mobile {
  .title-container {
    width: 80vw;
  }

  .title {
    width: 90%;
    font-size: 5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .byline {
    padding: 0.5rem 0.5rem 0.3rem;
    font-size: 1.6rem;
  }
}
