// @import '../../styles/colors.scss';

.section-hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 720px;
  margin: auto;
  flex-direction: column;
  margin-top: 20%;

  * {
    margin: 2rem auto;
  }
}

.title {
  width: 80%;
  text-align: center;
  display: block;
  font-size: 7.2rem;

  @include tablet {
    font-size: 4rem;
  }
}

.subtitle {
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.5;
}

.byline {
  padding: 0.9rem;
  font-family: 'Theinhardt-Med';
  font-size: 1.9rem;
  background-color: $accent2;
  color: $textColor;
  padding: 0.7rem 0.7rem 0.2rem;

  a {
    color: $textColor;

    &:hover {
      // color: darken($textColor, 80%);
    }
  }
}
