@import '../../styles/colors.scss';

.section-methods {
  min-height: 100%;
  // font-family: 'Musee-Regular';
  font-family: 'Theinhardt-Reg';
  font-size: 1.5rem;
}

* {
  //border: solid 1px red;
}

.methods-container {
  width: 90%;
  margin: 0 auto;

  h1 {
    color: $accent1;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px $textColor;
  }

  .col-container {
    display: flex;
    justify-content: space-between;
  }

  .col {
    width: 45%;
    line-height: 1.65;
  }

  p {
    margin-top: 0px;
  }
}
