.container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Theinhardt-Med';
}

.value {
  font-size: 46px;
  line-height: 0.9;
}

.units {
  // font-family: 'Musee-Regular';
  font-size: 14px;
}
