@import '../../styles/colors.scss';

.container {
  width: 200px;
  display: flex;
  flex-direction: column;
  font-family: 'Theinhardt-Med';

  &.left {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
  }
}

// .value {
//   font-size: 46px;
//   line-height: 0.9;
// }

.value {
  font-size: 5.8rem;
  font-family: 'Theinhardt-Black';
  color: $accent1;
}

.units {
  // font-family: 'Musee-Regular';
  font-size: 1.5rem;
  transform: translate(0px, -1rem);
}
