@import '../../styles/colors.scss';

.section-2 {
  width: 100vw;
  padding: 0px;
  position: relative;

  * {
    //border: 1px solid red !important; // <- DEBUG, show all divs
  }
}

.key-container {
  display: flex;
  justify-content: center;

  .map-key-image {
    width: 650px;
    box-shadow: 24px 24px 20px rgba(0, 0, 0, 0.26);
    border: solid 1px rgba(255, 255, 255, 0.3);
    transform: rotate(45deg) rotateX(35deg) rotateY(-48deg);
  }
}

.map-container {
  position: sticky;
  z-index: 0;
  top: 100px;
  height: 100vh;
}

.section2-scroll-container {
  width: 100%;
  height: 250vh;
  margin: auto;
}

.scrubber-container {
  height: 140px;
  width: 100%;

  .scrubber-overlay {
    position: absolute;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(
      90deg,
      rgba($bgColor, 1) 0 5%,
      rgba($bgColor, 0) 15% 85%,
      rgba($bgColor, 1) 95% 100%
    );
  }
}

.big-number-container {
  margin: 50px auto;
  display: flex;
  width: 70%;
  justify-content: space-between;
}
