.scrubber-container {
  svg {
    font-family: 'Theinhardt-Med';
  }

  .year-label {
    font-size: 14px;
    font-family: 'Theinhardt-Thin';
    fill: $textColor;
  }

  .current-date-label {
    text-transform: capitalize;
    font-size: 18px;
    fill: $textColor;
  }
}
