// --- Colors -----------------------------------------------
// -- brown/orange
// $textColor: white;
// $accent1: tomato;
// $bgColor: #1e1f1c;

// -- AAA compliant, lighter
$textColor: #fffde8;
$bgColor: rgb(29, 37, 59);
$bgColor2: rgb(43, 54, 74);
$accent1: #ff9466;
$accent2: #036063;
$accent3: rgb(247, 245, 115);

// -- AAA compliant, darker
// $textColor: #fffdf0;
// $bgColor2: rgb(43, 54, 74);
// $bgColor: #131925;
// $accent1: #ff7f47;
// $accent2: #016265;
// $accent3: rgb(247, 245, 115);

/* ----------------------------------------------------------
  Mixins for media queries
  Usage: 
  @include tablet {
    // Put your tablet related CSS here
  }
*/
$mobile-width: 415px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tabletSml {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
