@import 'colors.scss';

// --- Fonts
@font-face {
  font-family: 'Musee-Bold';
  font-weight: 700;
  font-style: bold;
  src: url('../fonts/Musee-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Musee-Regular';
  src: url('../fonts/Musee-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Theinhardt-Black';
  src: url('../fonts/TheinhardtBlack.otf') format('opentype');
}
@font-face {
  font-family: 'Theinhardt-Med';
  src: url('../fonts/TheinhardtMed.otf') format('opentype');
}
@font-face {
  font-family: 'Theinhardt-Reg';
  src: url('../fonts/TheinhardtReg.otf') format('opentype');
}
@font-face {
  font-family: 'Theinhardt-Thin';
  src: url('../fonts/TheinhardtThin.otf') format('opentype');
}

* {
  //border: 1px solid red !important; // <- DEBUG, show all divs
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

mark {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.5rem 0.1rem 0.1rem;
  background-color: $accent2;
  color: $textColor;
}

body {
  margin: 0px;
  background-color: $bgColor;
  background-image: linear-gradient($bgColor, $bgColor2);
  color: $textColor;
  font-family: 'Musee-Regular';
  line-height: 1.33;
}

h1 {
  font-family: 'Musee-Bold';
  font-size: 4.2rem;
  color: $headline-color;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: $accent1;

  &:hover {
    color: lighten($color: $accent1, $amount: 10);
  }
}

section {
  min-height: 120vh;
  width: 90vw;
  max-width: 1000px;
  padding: 10px 10px;
  margin: 100px auto;
}

.narrative-text {
  width: 75%;
  margin: 0px auto 3rem;
  font-size: 1.9rem;
  line-height: 1.55;

  p {
    text-indent: 50px;
    margin-bottom: 1rem;
  }

  span {
    color: $accent2;
  }
}

.World {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: -1;
}
