// --- Fonts
@font-face {
  font-family: 'Musee-Bold';
  font-weight: 700;
  font-style: bold;
  src: url('../fonts/Musee-Bold.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Musee-Regular';
  src: url('../fonts/Musee-Regular.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Theinhardt-Black';
  src: url('../fonts/TheinhardtBlack.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Theinhardt-Med';
  src: url('../fonts/TheinhardtMed.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Theinhardt-Reg';
  src: url('../fonts/TheinhardtReg.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Theinhardt-Thin';
  src: url('../fonts/TheinhardtThin.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'National 2 Web';
  src: url('https://pudding.cool/assets/fonts/national/National2Web-Regular.woff2')
      format('woff2'),
    url('https://pudding.cool/assets/fonts/national/National2Web-Regular.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'National 2 Web';
  src: url('https://pudding.cool/assets/fonts/national/National2Web-Bold.woff2')
      format('woff2'),
    url('https://pudding.cool/assets/fonts/national/National2Web-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'National 2 Narrow Web';
  src: url('https://pudding.cool/assets/fonts/national/National2NarrowWeb-Regular.woff2')
      format('woff2'),
    url('https://pudding.cool/assets/fonts/national/National2NarrowWeb-Regular.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'National 2 Narrow Web';
  src: url('https://pudding.cool/assets/fonts/national/National2NarrowWeb-Bold.woff2')
      format('woff2'),
    url('https://pudding.cool/assets/fonts/national/National2NarrowWeb-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

// font var names
$sans: 'National 2 Web', Helvetica, Arial, sans-serif;
$sans-display: 'National 2 Narrow Web', Helvetica, Arial, sans-serif;

// ----------------------------------------------------------
* {
  // border: 1px solid red !important; // <- DEBUG, show all divs
  box-sizing: border-box;
}

html {
  font-size: 10px;

  @include tablet {
    font-size: 8px;
  }

  @include mobile {
    font-size: 8px;
  }
}

mark {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.5rem 0.1rem 0.1rem;
  background-color: $accent2;
  color: $textColor;
}

body {
  margin: 0px;
  background-color: $bgColor;
  // background-image: linear-gradient($bgColor, $bgColor2);
  color: $textColor;
  font-family: 'Musee-Regular';
  line-height: 1.33;
}

h1 {
  font-family: 'Musee-Bold';
  font-size: 4.2rem;
  line-height: 1.1;
  color: $accent1;
}

a {
  color: $accent1;

  &:hover {
    color: lighten($color: $accent1, $amount: 10);
  }
}

.logo-container {
  position: absolute;
  width: 100%;
  top: 0;
  margin: 1rem auto 2rem;
  text-align: center;

  .logo-full {
    position: relative;
    width: 144px;
    max-height: 38px;
    height: auto;
  }
}

section {
  margin: 0 auto;
  min-height: 100px;
}

.narrative-text {
  width: 75%;
  max-width: 720px;
  margin: 0px auto 4rem;
  font-size: 1.9rem;
  line-height: 1.65;

  .section-break {
    width: 50%;
    height: 5px;
    margin: 0 auto 4rem;
    border-bottom: solid 1px $textColor;
  }

  p {
    margin-bottom: 4rem;
  }

  span {
    color: $accent2;
  }
}

@include mobile {
  .narrative-text {
    width: 90%;
  }

  #deckgl-wrapper {
    margin-top: 20% !important;
  }
}

.World {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: -1;
}
