@import '../../styles/colors.scss';

.article-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: $textColor;
    font-family: 'Theinhardt-Med';
    font-size: 1.4rem;
    margin: 1rem;
  }

  span {
    color: $accent1;
  }
}
