// NON-SCOPED STYLES FOR PAPERS PER YEAR PLOT

.papers-per-year-plot {
  font-family: 'Theinhardt-Med';

  .annotation-group {
    font-family: 'Theinhardt-Med';
    //font-family: 'Musee-Bold';
    font-size: 1.6rem;
    text {
      fill: $textColor;
    }
  }

  .title-group {
    font-family: 'Theinhardt-Med';
    fill: $textColor;
    font-size: 1.6rem;
  }

  .tick text {
    fill: grey;
  }

  .y.axis {
    font-size: 1.8rem;
    opacity: 0.6;
  }

  .tick {
    transition: font-size 1s;
    font-size: 1.6rem;

    &.minimized {
      transition: font-size 1s;
      font-size: 1.4rem;
    }
  }
}

@include mobile {
  .annotation-group {
    font-size: 1.4rem;
  }

  .title-group {
    font-size: 1.4rem;
  }

  .y.axis {
    font-size: 1.4rem;
  }

  .tick {
    font-size: 1.2rem;

    &.minimized {
      font-size: 1rem;
    }
  }
}
