// NON-SCOPED STYLES FOR PAPERS PER YEAR PLOT
@import '../../styles/colors.scss';

.papers-per-year-plot {
  font-family: 'Theinhardt-Med';

  .annotation-group {
    font-family: 'Theinhardt-Med';
    //font-family: 'Musee-Bold';
    font-size: 16px;
    text {
      fill: $textColor;
    }
  }

  .title-group {
    font-family: 'Theinhardt-Med';
    fill: $textColor;
    font-size: 16px;
  }

  .tick text {
    fill: grey;
  }

  .y.axis {
    font-size: 18px;
    opacity: 0.6;
  }

  .tick {
    transition: font-size 1s;
    font-size: 16px;

    &.minimized {
      transition: font-size 1s;
      font-size: 14px;
    }
  }
}
