@import '../../styles/colors.scss';

* {
  //border: solid 1px red;
}

.section1-scroll-container {
  width: 90%;
  height: 120vh;
  margin: auto;
}

.content-container {
  position: sticky;
  position: -webkit-sticky;
  top: 200px;
  width: 100%;
  // height: 100%;
  margin: 2rem auto;
}

.plot-container {
  // background: rgba(255, 123, 14, 100);
  height: 500px;
  width: 100%;
  margin-bottom: 4rem;
}

.text-overlay-container {
  position: absolute;
  top: 0;
  margin-top: 4rem;
  width: 90%;
}

.plot-text {
  text-indent: 50px;
  width: 70%;
  margin-left: 4rem;
  font-size: 1.9rem;
  line-height: 1.55;
}

#revealed-text {
  text-align: right;
  margin-right: 5%;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 50px;
  font-size: 28px;
  font-family: 'Musee-Bold';
  color: $accent3;
}

.middle-section {
  margin-top: 13rem;
  margin-bottom: 10rem;
}

.article-generators-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.stats-container {
  width: 90%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}
