@import '../../styles/colors.scss';

* {
  //border: solid 1px red;
}

.section1-scroll-container {
  width: 100%;
  height: 120vh;
  margin: auto;
}

.content-container {
  position: sticky;
  position: -webkit-sticky;
  top: 200px;
  width: 100%;
  margin: 2rem auto;
}

.plot-container {
  height: 500px;
  width: 90%;
  margin: 0 auto 4rem;
}

.text-overlay-container {
  position: absolute;
  top: 0;
  left: 0; // to center
  right: 0; // to center
  margin: 4rem auto;
  width: 75%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plot-text {
  width: 70%;
  font-size: 1.9rem;
  line-height: 1.55;
}

#revealed-text {
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 50px;
  font-size: 28px;
  font-family: 'Musee-Bold';
  color: $accent3;
}

.middle-section {
  margin-top: 13rem;
  margin-bottom: 10rem;
}

.article-generators-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.stats-container {
  width: 90%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}
