.section1-scroll-container {
  width: 100%;
  height: 100vh;
  margin: auto;

  * {
    //border: solid 1px red;
  }
}

.content-container {
  position: sticky;
  position: -webkit-sticky;
  top: 200px;
  width: 100%;
  // height: 100%;
  margin: auto;
}

.plot-container {
  // background: rgba(255, 123, 14, 100);
  height: 500px;
  width: 100%;
}

.text-overlay-container {
  position: absolute;
  top: 0;
}

.plot-text {
  width: 60%;
  margin-left: 10px;
  font-size: 18px;
  line-height: 1.33;
}

#revealed-text {
  text-align: right;
  margin-right: 15%;
  margin-top: 60px;
  height: 50px;
  font-size: 28px;
  font-family: 'Musee-Bold';
  color: tomato;
}

.big-number-container {
  margin: 50px auto;
  display: flex;
  width: 70%;
  justify-content: space-between;
}
