.annotation-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  height: 100px;
  width: 100%;
  transition: opacity 0.5s;
  transition-delay: 0.7s;

  &.visible {
    opacity: 1;
  }

  &.baseline-bottom {
    justify-content: flex-end;
  }

  .vaccine {
    text-transform: capitalize;
    font-family: 'Theinhardt-Med';
    font-size: 1.2rem;
  }

  .title {
    font-family: 'Musee-Bold';
    font-size: 1.6rem;
  }

  .journal {
    font-family: 'Musee-Regular';
    font-size: 1.4rem;
  }

  .date {
    font-family: 'Theinhardt-Thin';
    font-size: 1.2rem;
  }
}

@include mobile {
  .annotation-container {
    width: 250px;
  }
}
